* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, #b8e7fa, #e6e6fa);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 24px 0px;
  flex-wrap: wrap;
}
.navbar h4 {
  font-size: 20px;
  margin-left: 170px;
}
.navbar button {
  margin-right: 170px;
}
span {
  color: #ffa500;
}
.primary-btn {
  padding: 17px 24px 17px 24px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-weight: bold;
  background: linear-gradient(to right, #ffa500, #ffd447);
  opacity: 0.8;
}
.primary-btn:hover {
  background: blueviolet;
  color: white;
  cursor: pointer;
  transform: translateY(-5px);
}

/* ------Bannner Section styling---- */
section {
  width: 80%;
  margin: 40px auto;
  padding: 40px;
  max-width: 1200px;
  padding: 40px 0px;
}
.banner-container {
  background-color: #e6edf9;
  border-radius: 10px;
}
.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hadding-text {
  text-align: center;
}
.hadding-text h1 {
  padding: 10px 0px;
}
.hadding-text p {
  text-align: center;
  padding: 15px 0px;
  margin: 0px 150px;
}

/* Why Web Development Section styling */

.dev-info {
  text-align: center;
}
.dev-info h1 {
  padding: 10px;
}
.dev-info p {
  padding-bottom: 30px;
  margin: 0px 150px;
}
.world-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6edf9;
  border-radius: 15px;
  padding: 5px 5px;
}
.world-info {
  width: 60%;
  padding: 40px;
}
.world-info h3 {
  padding: 10px 0px;
}
.world-info p {
  padding: 0px 0px 15px 0px;
}
.developer-img {
  width: 40%;
}

/* ====Vedio Section styling===== */
.video-container p {
  margin-bottom: 20px;
}
.video {
  display: flex;
  justify-content: center;
  margin: 10px 100px;
  overflow: hidden;
  padding: 20px 0px;
  border: 2px solid rgba(170, 166, 166, 0.401);
  border-radius: 15px;
}
#youtube-video {
  border-radius: 15px;
}
/* --------------Skill container styling------- */

.skill-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skill-card {
  background: linear-gradient(to right, #e6edf9, #9de5ff);
  border-radius: 20px;
  padding: 40px 100px;
  text-align: center;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
}
.skill-card img,
h3,
a {
  padding-bottom: 5px;
}
.skill-card:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

/* ----Footer styling -----*/
.footer-container {
  padding: 40px 0px;
}
.footer-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 24px 0px;
}

.footer-area p {
  font-weight: bold;
  margin-left: 160px;
}
.social-icons {
  margin: 10px;
}
.social-icons img {
  margin-left: 10px;
}
.social-icons {
  margin-right: 160px;
}
