*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}
body{
    font-family:'Poppins', sans-serif;
    background: linear-gradient(to right,#B8E7FA , #E6E6FA);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding:24px 160px;
    flex-wrap: wrap; 
   
}
.navbar h4{
  font-size: 20px;
}
span{
    color: #FFA500;
}
.primary-btn{
    padding:17px 24px 17px 24px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-weight: bold;
    background: linear-gradient(to right,#FFA500,#FFD447 );
    opacity: 0.8;
}


/* ------Bannner Section---- */
section{
    width: 80%;
    margin: 40px auto;
    /* border: 2px solid black; */
    /* padding: 40px; */
    max-width: 1200px;
    padding: 40px 0px;
}
.banner-container{
    background-color:#E6EDF9;
    border-radius: 10px;
    border:2px dotted #FFA500;
}
.hero-img{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */   
}
.hadding-text{
    text-align: center;
}
.hadding-text h1{
    padding: 10px 0px;
}
.hadding-text p{
    padding: 15px 0px;
}

/* Why Web Development Section styling */
.development-container{
 /* border: 2px solid blue; */
}
.dev-info{
    /* border: 2px solid red;   */
    text-align: center; 
}
.dev-info h1{
  padding: 10px;
}
.dev-info p{
   padding-bottom: 30px;
}
.world-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E6EDF9;
    border-radius: 15px;
    padding: 5px 5px;
    border: 2px solid greenyellow;
    
}
.world-info{
  /* background: #d7b5b5; */
  width: 60%;
  padding:40px;
}
.world-info h3{
  padding:10px 0px;
}
.world-info p{
   padding:0px 0px 15px 0px ;
}
.developer-img{
  /* background: bisque; */
  width: 40%;
  
}
.developer-img img{

}
/* --------------Skill container styling------- */
.skill-container{
  /* border: 2px solid red; */
}
 .skill-card-container{
    display: flex;
    /* justify-content: space-around; */
     justify-content:space-between;
    align-items:center;
     /* gap: 50px; */
     /* border: 2px solid black; */
   
 } 
  .skill-card{
    background: linear-gradient(to right,#E6EDF9,#9DE5FF);
    border-radius: 20px;
    padding: 40px 100px;
    text-align:left;
    transition:0.3s;
   
     /* margin: 30px; */
      /* border: 2px solid yellowgreen; */
     
  }
 
/* ----Footer styling -----*/
.footer-container{
  padding: 40px 0px;
}
.footer-area{
   display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding:24px 160px;
}

.footer-area p{
  font-weight: bold;
}
.social-icons{
    margin: 10px;
   /* border: 2px solid blue; */
   
}
.social-icons #github{
  color: black;
}
.social-icons #facebook, #linkedin{
  color:#1285b7;
}
.social-icons a{
   font-size: 30px;
   padding: 5px;
   border-radius:50px;
}