*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}
body{
    font-family:'Poppins', sans-serif;
    background: linear-gradient(to right,#B8E7FA , #E6E6FA);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding:24px 80px;
}
span{
    color: #FFA500;
}
.primary-btn{
    padding:17px 24px 17px 24px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: medium;
    font-weight: bold;
    background: linear-gradient(to right,#FFA500,#FFD447 );
    opacity: 0.8;
}


/* ------Bannner Section---- */
section{
    width: 80%;
    margin: 50px auto;
    /* border: 2px solid black; */
    padding: 40px;
}
.banner-container{
    background-color:#E6EDF9;
    border-radius: 10px;
}
.hero-img{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */   
}
.hadding-text{
    text-align: center;
}
.hadding-text h1{
    padding: 10px 0px;
}
.hadding-text p{
    padding: 15px 0px;
}

/* -------------2nd Banner------ */
.development-container{
 /* border: 2px solid blue; */
}
.dev-info{
    /* border: 2px solid red;   */
    text-align: center; 
}
.dev-info h1{
  padding: 10px;
}
.dev-info p{
   padding-bottom: 30px;
}
.world-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E6EDF9;
    border-radius: 15px;
    padding: 10px 5px;
   /* border: 2px solid greenyellow; */
}
.world-info{
  /* background: #d7b5b5; */
  width: 60%;
  padding: 40px;
}
.world-info h3{
  padding:10px 0px;
}
.world-info p{
   padding:0px 0px 15px 0px ;
}
.developer-img{
  /* background: bisque; */
  width: 40%;
}
.developer-img img{

}

